body{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    height: 600px;
    
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #141414;
    height: 440px;
    width:300px
}
#signin{
    border:1px solid #2f2f31;
    background-color: #141414;
   padding :50px 50px
}
input{
    width: 97%;
    padding: 12px 20px;
    background-color: #1f1f1f;
    color:white
}
button{
    /* padding:12px 24px; */
    border-radius: 5px;
    /* background-color: #fd6228; */
    border:1px solid #fd6228;
}
.row{
    display: flex;
    justify-content: space-between;
}
.row h3{
  margin-top:20px;
  margin-left:30px;

}